#left {
    border-style: solid;
    border-color: black;
   float:left;
    margin:0;
    padding:0;
    list-style-type: none;
}
#right{ border-style: solid;
    border-color: black;
    height:137px;
    width: 80px;
    margin:0;
    padding:0;
    list-style-type: none; 
}




